<form
  [formGroup]="crearFormulario"
  (ngSubmit)="formulario()"
  class="formulario"
>
  <div class="container-fluid p-0 mb-0 m-0">
    <div class="row g-3 p-3">
      <div class="row mt-3">
        <div class="col-md-6">
          <h6 class="fw-medium">{{ tituloModal }}</h6>
        </div>
        <div class="col-md-6 d-md-flex justify-content-md-end">
          <a class="btn m-0 p-0" (click)="ExitModal()"
            ><i class="bi bi-x-lg text-dark"></i
          ></a>
        </div>
      </div>
      <br />
      <div class="col-md-6">
        <strong>
          <label for="validationCustom01" class="form-label">
            Empleado
            <span class="text-danger">*</span>
            <i class="bi bi-info-circle icon-lg"></i
          ></label>
        </strong>
        <select
          formControlName="idEmpleado"
          class="form-select"
          aria-label="Default select example"
        >
          <option disabled value="0" [selected]>Seleccione una opcion</option>
          <option
            *ngFor="let empleado of listaEmpleados"
            [value]="empleado.idEmpleado"
          >
            {{ empleado.nombre }}
          </option>
        </select>
      </div>
      <div class="col-md-6">
        <strong>
          <label for="validationCustom01" class="form-label">
            Cargo Laboral
            <span class="text-danger">*</span>
            <i class="bi bi-info-circle icon-lg"></i
          ></label>
        </strong>
        <select
          formControlName="idCargo"
          class="form-select"
          aria-label="Default select example"
        >
          <option disabled value="0" [selected]>Seleccione una opcion</option>
          <option
            *ngFor="let cargo of listaCargoLaboral"
            [value]="cargo.idCargoLaboral"
          >
            {{ cargo.nombre }}
          </option>
        </select>
      </div>
      <div class="col-md-6">
        <strong>
          <label for="validationCustom01" class="form-label">
            Fecha de Contratación
            <span class="text-danger">*</span>
            <i class="bi bi-info-circle icon-lg"></i
          ></label>
        </strong>
        <input
          type="date"
          formControlName="fechaContratacion"
          class="form-control"
        />
      </div>
      <div class="col-md-6">
        <strong>
          <label for="validationCustom01" class="form-label">
            Fecha de Baja
            
          </label>
        </strong>
        <input type="date" formControlName="fechaDeBaja" class="form-control" />
      </div>
      <div class="col-md-6">
        <strong>
          <label for="validationCustom01" class="form-label">
            Tipo de Contrato
            <span class="text-danger">*</span>
            <i class="bi bi-info-circle icon-lg"></i
          ></label>
        </strong>
        <select
          formControlName="tipoContrato"
          class="form-select"
          aria-label="Default select example"
        >
          <option disabled value="" [selected]>Seleccione una opcion</option>
          <option value="Temporal">Temporal</option>
          <option value="Indefinido">Indefinido</option>
          <option value="Plaza Fija">Plaza Fija</option>
        </select>
      </div>
      <div class="col-md-6">
        <strong>
          <label for="validationCustom01" class="form-label">
            tiempo de Contrato (en meses)
          </label>
        </strong>
        <input
          type="number"
          formControlName="tiempoContrato"
          class="form-control"
        />
      </div>
      <div class="col-md-6">
        <strong>
          <label for="validationCustom01" class="form-label">
            Salario Base
            <span class="text-danger">*</span>
            <i class="bi bi-info-circle icon-lg"></i
          ></label>
        </strong>
        <input
          type="number"
          formControlName="salarioBase"
          class="form-control"
        />
      </div>
      <div class="col-md-6">
        <strong>
          <label for="validationCustom01" class="form-label">
            Número de Cuenta
            <span class="text-danger">*</span>
            <i class="bi bi-info-circle icon-lg"></i
          ></label>
        </strong>
        <input type="number" formControlName="noCuenta" class="form-control" />
      </div>
      <div class="col-md-6">
        <strong>
          <label for="validationCustom01" class="form-label">
            Tipo Cuenta
            <span class="text-danger">*</span>
            <i class="bi bi-info-circle icon-lg"></i
          ></label>
        </strong>
        <select
          formControlName="tipoCuenta"
          class="form-select"
          aria-label="Default select example"
        >
          <option value="" selected disabled>Seleccione una opcion</option>
          <option value="A">Ahorro</option>
          <option value="M">Monetaria</option>
        </select>
      </div>
      <div class="col-md-6">
        <strong>
          <label for="validationCustom01" class="form-label">
            Moneda
            <span class="text-danger">*</span>
            <i class="bi bi-info-circle icon-lg"></i
          ></label>
        </strong>
        <select
          formControlName="moneda"
          class="form-select"
          aria-label="Default select example"
        >
          <option value="" selected disabled>Seleccione una opcion</option>
          <option value="Q">Quetzales</option>
        </select>
      </div>

      <div class="d-grid gap-2 col-12 mx-auto">
        <button
          class="btn btn-primary mt-3 mb-3"
          type="submit"
          name=""
          value="Ingresar"
          [disabled]="btnBlock"
        >
          @if (btnEnviar){
          <span>Enviar</span>
          } @else{
          <div class="loader"></div>
          }
        </button>
      </div>
    </div>
  </div>
</form>

<p-toast />
