<div class="row container mt-5">
  <div class="col-md-4 d-grid gap-2  mx-auto">
    <div class="row contacto d-grid gap-2  mx-auto">
      <h6 class="text-center fw-medium text-muted">Contacto</h6>

      <a
        href="https://wa.me/50232642841"
        target="_blank"
        class="icon text-start"
      >
        <i class="bi bi-whatsapp"></i> +502 3264 2841
      </a>

      <a
      class="mt-0"
        href="https://wa.me/50249116357"
        target="_blank"
        class="icon text-start"
      >
        <i class="bi bi-whatsapp"></i> +502 4911 6357
      </a>
    
    </div>
  </div>
  <div class="col-md-4 d-grid  mx-auto">
    <div class="row redesSociales d-grid mx-auto">
      <h6 class="text-center fw-medium text-muted">Redes Sociales</h6>

      <a
        href="https://www.facebook.com/profile.php?id="
        target="_blank"
        class="icon text-center"
      >
        <i class="bi bi-facebook"></i> Confort Travel</a
      >
      
    </div>
  </div>
  <div class="col-md-4 d-grid gap-2  mx-auto">
    <div class="row contacto d-grid gap-2  mx-auto">
      <h6 class="text-center fw-medium text-muted">Correo</h6>
      <a href="mailto:conforttravel@gmail.com" class="icon text-start">
        <i class="bi bi-envelope"></i> conforttravel&#64;gmail.com</a
      >
    </div>
  </div>
  <div class="col-md-12">
    <p class="text-center text-muted mt-5">
      <img src="https://firebasestorage.googleapis.com/v0/b/peten-adventure.appspot.com/o/Logo%20(1).png?alt=media&token=165d4375-6aec-4ad3-8112-139df32b9db9" alt="">

      © Confort Travel 2024 |Todos los Derechos Reservados</p>
  </div>
</div>

