<div class="row container">
  <div class="col-md-6 text-center">
    <div class="row contacto align-items-center">
      <h6 class="text-start">Contacto</h6>

      <a
        href="https://wa.me/50232642841"
        target="_blank"
        class="icon text-start"
      >
        <i class="bi bi-whatsapp"></i> +502 3264 2841
      </a>

      <a
        href="https://wa.me/50249116357"
        target="_blank"
        class="icon text-start"
      >
        <i class="bi bi-whatsapp"></i> +502 4911 6357
      </a>
      <a href="mailto:conforttravel@gmail.com" class="icon text-start">
        <i class="bi bi-envelope"></i> conforttravel&#64;gmail.com</a
      >
    </div>
  </div>
  <div class="col-md-6 text-center">
    <div class="row redesSociales align-items-center">
      <h6 class="text-start">Redes Sociales</h6>
      <a
        href="https://www.facebook.com/profile.php?id="
        target="_blank"
        class="icon text-start"
      >
        <i class="bi bi-facebook"></i> Confort Travel</a
      >
    </div>
  </div>
</div>
