<div class="tours">
  <h1>PAQUETES DE VIAJE</h1>
  <div class="container">
    <div class="destacado mb-5">
      <div class="row mt-3">
        
        <div class="col-md-6 p-3" *ngFor="let paquete of paquetes">
          <div
            class="card shadow"
            style="
              max-width: 350px;
              position: relative;
              margin-left: auto;
              margin-right: auto;
            "
          >
            <div class="card-body p-1">
              <img
                [src]="paquete.portada"
                class="img-fluid"
                style="max-width: 100%"
                *ngIf="paquete.portada"
              />
              <div class="d-grid gap-2">
                <button
                  class="btn btn-light"
                  style="
                    position: absolute;
                    top: 70%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 180px;
                  "
                  (click)="verMas(paquete.idPaquete)"
                >
                  Más Información
                </button>
                <button
                  class="btn btn-light"
                  style="
                    position: absolute;
                    top: 80%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 180px;
                  "
                  (click)="Cotizar(paquete.idPaquete)"
                >
                  Cotizar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
