<div class="parallax">
  <br />
  <br />
  <br />
  <!-- <h6 class="mb-0 p-0 fw-semibold">PAQUETES DE VIAJE</h6> -->

  <div class="container">
    @if(loading){
    <div class="row">
      <div class="col-md-4">
        <div class="w-full xl:w-6 p-3">
          <!-- Imagen o encabezado de la tarjeta -->
          <p-skeleton
            shape="rectangle"
            width="100%"
            height="200px"
            styleClass="mb-3"
          />

          <!-- Título de la tarjeta -->
          <p-skeleton width="75%" height="1.5rem" styleClass="mb-2" />

          <!-- Descripción o contenido de la tarjeta -->
          <p-skeleton width="90%" height="1rem" styleClass="mb-1" />
          <p-skeleton width="85%" height="1rem" styleClass="mb-1" />
          <p-skeleton width="80%" height="1rem" styleClass="mb-3" />

          <!-- Botón o enlace simulado -->
          <p-skeleton shape="rectangle" width="50%" height="2rem" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="w-full xl:w-6 p-3">
          <!-- Imagen o encabezado de la tarjeta -->
          <p-skeleton
            shape="rectangle"
            width="100%"
            height="200px"
            styleClass="mb-3"
          />

          <!-- Título de la tarjeta -->
          <p-skeleton width="75%" height="1.5rem" styleClass="mb-2" />

          <!-- Descripción o contenido de la tarjeta -->
          <p-skeleton width="90%" height="1rem" styleClass="mb-1" />
          <p-skeleton width="85%" height="1rem" styleClass="mb-1" />
          <p-skeleton width="80%" height="1rem" styleClass="mb-3" />

          <!-- Botón o enlace simulado -->
          <p-skeleton shape="rectangle" width="50%" height="2rem" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="w-full xl:w-6 p-3">
          <!-- Imagen o encabezado de la tarjeta -->
          <p-skeleton
            shape="rectangle"
            width="100%"
            height="200px"
            styleClass="mb-3"
          />

          <!-- Título de la tarjeta -->
          <p-skeleton width="75%" height="1.5rem" styleClass="mb-2" />

          <!-- Descripción o contenido de la tarjeta -->
          <p-skeleton width="90%" height="1rem" styleClass="mb-1" />
          <p-skeleton width="85%" height="1rem" styleClass="mb-1" />
          <p-skeleton width="80%" height="1rem" styleClass="mb-3" />

          <!-- Botón o enlace simulado -->
          <p-skeleton shape="rectangle" width="50%" height="2rem" />
        </div>
      </div>
    </div>
    }
    <div class="destacado mb-5">
      <div class="row mt-3">
        <div class="col-md-4" *ngFor="let paquete of paquetes">
          <div
            class="card  mt-3"
            style="
              max-width: 300px;
              position: relative;
              margin-left: auto;
              margin-right: auto;
             
            "
          >
            <div class="card-body p-2">
              <img
                [src]="paquete.portada"
                class="img-fluid"
                style="max-width: 100%"
                *ngIf="paquete.portada"
              />
              <div class="d-grid gap-2">
                <button
                  class="btn btn-light"
                  style="
                    position: absolute;
                    top: 70%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 180px;
                  "
                  (click)="verMas(paquete.idPaquete)"
                >
                  Más Información
                </button>
                <button
                  class="btn btn-light"
                  style="
                    position: absolute;
                    top: 80%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 180px;
                  "
                  (click)="Cotizar(paquete.idPaquete)"
                >
                  Cotizar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
