<div class="parallax"  >
    <form
      [formGroup]="crearFormulario"
      (ngSubmit)="formulario()"
      class="formulario" 
    
    >
      <div class="row g-3 login shadow">
        <h5 class="text-center mt-5">
          <strong>{{ tituloModal }}</strong>
        </h5>
        <br />
        <div class="col-md-6">
          <strong>
            <label for="validationCustom01" class="form-label">
              Titulo
              <span class="text-danger">*</span>
              <i class="bi bi-info-circle icon-lg"></i
            ></label>
          </strong>
          <input type="text" formControlName="titulo" class="form-control" />
        </div>
        <div class="col-md-6">
            <strong>
              <label for="validationCustom01" class="form-label">
                Descripción
                <span class="text-danger">*</span>
                <i class="bi bi-info-circle icon-lg"></i
              ></label>
            </strong>
            <input type="text" formControlName="descripcion" class="form-control" />
          </div>
        <div class="col-md-6">
            <strong>
              <label for="validationCustom01" class="form-label">
                modalidad Paquete
                <span class="text-danger">*</span>
                <i class="bi bi-info-circle icon-lg"></i
              ></label>
            </strong>
            <input type="text" formControlName="modalidadPaquete" class="form-control" />
          </div>
          <div class="col-md-6">
            <strong>
              <label for="validationCustom01" class="form-label">
                Salida
                <span class="text-danger">*</span>
                <i class="bi bi-info-circle icon-lg"></i
              ></label>
            </strong>
           <select class="form-select" formControlName="idSalida">
            <option selected disabled value="">Seleccione</option>
            <option *ngFor="let salida of salidas" [value]="salida.idSalida">{{salida.direccion}}</option>
           </select>
          </div>
          <div class="col-md-6">
            <strong>
              <label for="validationCustom01" class="form-label">
                total Dias
                <span class="text-danger">*</span>
                <i class="bi bi-info-circle icon-lg"></i
              ></label>
            </strong>
            <input type="number" formControlName="totalDias" class="form-control" />
          </div>
          <div class="col-md-6">
            <strong>
              <label for="validationCustom01" class="form-label">
                total Noches
                <span class="text-danger">*</span>
                <i class="bi bi-info-circle icon-lg"></i
              ></label>
            </strong>
            <input type="number" formControlName="totalNoches" class="form-control" />
          </div>
         
          <div class="col-md-6">
            <strong>
              <label for="validationCustom01" class="form-label">
                Min Pax
                <span class="text-danger">*</span>
                <i class="bi bi-info-circle icon-lg"></i
              ></label>
            </strong>
            <input type="number" formControlName="minPax" class="form-control" />
          </div>
          <div class="col-md-6">
            <strong>
              <label for="validationCustom01" class="form-label">
                Max Pax
                <span class="text-danger">*</span>
                <i class="bi bi-info-circle icon-lg"></i
              ></label>
            </strong>
            <input type="number" formControlName="maxPax" class="form-control" />
          </div>
          <div class="col-md-6">
            <strong>
              <label for="validationCustom01" class="form-label">
                Politica de Cancelación
                <span class="text-danger">*</span>
                <i class="bi bi-info-circle icon-lg"></i
              ></label>
            </strong>
            <input type="text" formControlName="politicaCancelacion" class="form-control" />
          </div>
      
        <div class="col-md-6">
          <strong>
            <label for="validationCustom02" class="form-label"> Estado </label>
          </strong>
          @if(!editando){
              <select
              formControlName="X"
              class="form-select"
            
            >
              <option   *ngFor="let estado of estados" [value]="estado.valorId">{{ estado.nombre }}</option>
            </select>
          }
         
          @if(editando){
              <select
            formControlName="estado"
            class="form-select"
          
          >
            <option   *ngFor="let estado of estados" [value]="estado.estado">{{ estado.nombre }}</option>
          </select>
          }
        </div>
        <div class="col-md-6">
          <strong>
            <label for="validationCustom01" class="form-label">
              Imagen
              <span class="text-danger">*</span>
              <i class="bi bi-info-circle icon-lg"></i
            ></label>
          </strong>
          <input
            type="file"
            formControlName="portada"
            class="form-control"
            (change)="capturarFile($event)"
          />
        </div>
        @if(!esFotoValida){
        <div class="alert alert-danger" role="alert">
          Solo se aceptan imagenes tipo .png, jpeg y .jpg
        </div>
        } @if(previsualizacion){
        <div class="preview-img">
          
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a
                title="eliminar"
                mat-icon-button
                color="warn"
                aria-label="Example icon button with a delete icon"
                (click)="clearImage()"
              >
                <mat-icon>delete</mat-icon>
              </a>
            </div>
            
       
          <div class="previsualizacion">
            <img class="img" [src]="previsualizacion" alt="" />
          </div>
        </div>
        } @if(cargandoImagen){
        <div class="col-md-12 preview-img">
          <div class="loader"></div>
        </div>
        }
        <div class="d-grid gap-2 col-12 mx-auto">
          <button
            class="btn btn-primary mt-3 mb-3"
            type="submit"
            name=""
            value="Ingresar"
            [disabled]="btnBlock"
          >
            @if (btnEnviar){
            <span>Enviar</span>
            } @else{
            <div class="loader"></div>
            }
          </button>
        </div>
      </div>
    </form>
  </div>
  <p-toast />
  