
<div class="parallax mt-3">
  <div class="container mt-3">
   
    <h2
      class="text-center fw-semibold fst-italic"
      style="
        background-image: url('ruta/a/tu/imagen/sprite-aerosol.png');
        background-size: cover;
        padding: 10px;
      "
    >
      SOBRE NOSOTROS
    </h2>
    <p class="text-center">
      Confort Travel fue fundada el 11 de abril de 2023 en San Benito Petén,
      Guatemala, por Elivancli Barrientos de la Cruz y Enmer López Vázquez.
      Desde su primer viaje a Decameron, El Salvador, en mayo de 2023, hasta su
      expansión a destinos como Los Cabos, México, en 2024, Confort Travel se ha
      destacado por su compromiso con la satisfacción del cliente, la diversidad
      de destinos y un crecimiento continuo. Esta trayectoria consolida a
      Confort Travel como una opción confiable y versátil en el mercado de
      viajes.
     
    </p>
    <div class="imagen mt-5">
      <img src="https://firebasestorage.googleapis.com/v0/b/peten-adventure.appspot.com/o/LOGO.jpg?alt=media&token=6e7de99a-ff67-4c25-9ba9-92988ec64946" alt="">

    </div>
    
 <br>
 <br>
 <br>
  </div>
</div>

