<div class="parallax">
  <form
    [formGroup]="crearFormulario"
    (ngSubmit)="formulario()"
    class="formulario"
  >
    <div class="row g-3 login shadow">
      <h5 class="text-center mt-5"><strong>Registro de Usuarios</strong></h5>
      <br />
      <div class="col-md-6 input-group-lg">
        <label for="name">Nombre</label>

        <input type="name" class="form-control" formControlName="nombre" />
      </div>
      <div class="col-md-6 input-group-lg">
        <label for="Input">Apellido</label>

        <input
          type="name"
          class="form-control"
          id="floatingInput"
          formControlName="apellido"
        />
      </div>
      <div class="col-md-6 input-group-lg">
        <label for="Input">Correo</label>

        <input
          type="name"
          class="form-control"
          formControlName="correo"
          aria-describedby="inputGroup-sizing-sm"
        />
      </div>

      <div class="col-md-6">
        <label for="password">Password</label>

        <p-password
          formControlName="contraseña"
          [(ngModel)]="value"
          [toggleMask]="true"
        >
          <ng-template pTemplate="header">
            <h6>Introduzca una contraseña</h6>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider />
            <p class="mt-2">Sugerencias</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>Al menos una minuscula</li>
              <li>Al menos una mayúscula</li>
              <li>Al menos un número</li>
              <li>Minimo 8 caracteres</li>
            </ul>
          </ng-template>
        </p-password>
      </div>

      <div class="col-md-6 input-group-lg">
        <label for="text">Edad</label>

        <input type="number" class="form-control" formControlName="edad" />
      </div>
      <div class="col-md-6 input-group-lg">
        <label for="">Telefono</label>

        <input type="number" class="form-control" formControlName="telefono" />
      </div>
      <div class="col-md-6 input-group-lg">
        <label for="text">Dirección</label>

        <input type="name" class="form-control" formControlName="direccion" />
      </div>

      <div class="col-md-6 input-group-lg">
        <label for="text">Sexo</label>

        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="sexo"
        >
          <option selected disabled value="">Seleccione</option>
          <option value="1">Hombre</option>
          <option value="2">Mujer</option>
        </select>
      </div>

      <div class="d-grid gap-2 col-6 mx-auto">
        <button
          class="btn btn-primary mt-3 mb-3"
          type="submit"
          name=""
          value="Ingresar"
          [disabled]="btnBlock"
        >
          @if (btnEnviar){
          <span>Registrar</span>
          } @else{
          <div class="loader"></div>
          }
        </button>
      </div>
    </div>
  </form>
</div>
