<div class="parallax">
    <br>
   
    <div class="table-responsive mat-elevation-z8 tabla ">
        <strong><h2 class="text-center text-primary">LISTA DE RESERVAS</h2></strong>
        <div class="menu d-grid gap-2 d-md-flex justify-content-md-start p-3">
       
            <button class="btn btn-dark"  [routerLink]="['/vehiculos']">
                <i class="bi bi-bus-front"></i> Vehiculos
            </button>
            
            <button class="btn btn-dark"  [routerLink]="['/hoteles']">
                <i class="bi bi-building"></i> Hoteles
            </button>
         
          </div>
        <div class="under-construction">
            <div class="loader"></div>
            <br>
            <br>
            <p >Este módulo está en desarrollo. Por favor, vuelve más tarde.</p>
        </div>
      </div>
</div>
