<div class="parallax"  >
    <form
      [formGroup]="crearFormulario"
      (ngSubmit)="formulario()"
      class="formulario" 
    
    >
      <div class="row g-3 login shadow">
        <h5 class="text-center mt-5">
          <strong>{{ tituloModal }}</strong>
        </h5>
        <br />
        <div class="col-md-6">
          <strong>
            <label for="validationCustom01" class="form-label">
              Actividad
              <span class="text-danger">*</span>
              <i class="bi bi-info-circle icon-lg"></i
            ></label>
          </strong>
          <input type="text" formControlName="actividad" class="form-control" />
        </div>
        <div class="col-md-6">
            <strong>
              <label for="validationCustom01" class="form-label">
                Descripción
                <span class="text-danger">*</span>
                <i class="bi bi-info-circle icon-lg"></i
              ></label>
            </strong>
            <input type="text" formControlName="descripcion" class="form-control" />
          </div>
        <div class="col-md-6">
            <strong>
              <label for="validationCustom01" class="form-label">
                Horario
                <span class="text-danger">*</span>
                <i class="bi bi-info-circle icon-lg"></i
              ></label>
            </strong>
            <input type="time" formControlName="horario" class="form-control" />
          </div>
   
        <div class="d-grid gap-2 col-12 mx-auto">
          <button
            class="btn btn-primary mt-3 mb-3"
            type="submit"
            name=""
            value="Ingresar"
            [disabled]="btnBlock"
          >
            @if (btnEnviar){
            <span>Enviar</span>
            } @else{
            <div class="loader"></div>
            }
          </button>
        </div>
      </div>
    </form>
  </div>
  <p-toast />
  