
.loader {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    animation: l1 1s linear infinite alternate;
  }
  .loader:before {
    content:"Loading..."
  }
  @keyframes l1 {to{opacity: 0}}
  .data{
    background-color: rgba(255, 255, 255, 0.473);
    
    margin-top: 10px;
    border-radius: 15px;
  }

  img {
    max-width: 300px;
  }
  .previsualizacion {
    display: grid;
    place-items: center;
  }

  .loader {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    animation: l1 1s linear infinite alternate;
  }
  .loader:before {
    content:"Loading..."
  }
  @keyframes l1 {to{opacity: 0}}



  @media (max-width: 768px) {
    .imagenMascota {
      width: 80px; /* Ajusta el tamaño para dispositivos móviles */
      height: 80px;
    }
  }

  .icono{
    font-size: 24px; /* Tamaño más grande */
    font-weight: bold; /* Grosor más fuerte */
    cursor:pointer;
  }

  .spiner{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
  }
  .formulario{
   
    overflow-y: auto; 
    max-height: 100vh;
    overflow-x: hidden;
    background-color: white;
    
   
}
.mat-dialog-container {
  overflow-x: hidden; /* Evita el scroll horizontal en el modal */
overflow-x: hidden; /* Evita el scroll horizontal en el modal */
  overflow-y: auto;   /* Añade scroll vertical */
  max-height: 90vh; 
}
h6{
  font-size: 20px;
}


  
