<div class="parallax">
  <br />

  <div class="table-responsive mat-elevation-z8 tabla">
    <strong><h2 class="text-center text-primary mt-3">LISTA DE SALIDAS</h2></strong>
    <div class="menu d-grid gap-2 d-md-flex justify-content-md-start p-3">
      <button class="btn btn-dark" (click)="openAgregarDialog()">
        <i class="bi bi-plus-lg"></i> Agregar
      </button>
    </div>
    <table mat-table [dataSource]="dataSource" class="lista">
      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef>No</th>
        <td mat-cell *matCellDef="let element">
          {{ element.idSalida }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Salida">
        <th mat-header-cell *matHeaderCellDef>Salida</th>
        <td mat-cell *matCellDef="let element">
          {{ element.direccion }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">
          @if(element.estado == 1){
          <span class="activo text-success">Activo</span> } @else{
          <span class="inactivo text-danger">Inactivo </span> }
        </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button
          (click)="openEditarDialog(element.idSalida)"
          mat-icon-button
          matTooltip="Editar"
          color="primary"
          aria-label="Example icon button with a edit icon"
        >
          <mat-icon data-bs-toggle="modal" data-bs-target="#AgregarMascota"
            >edit</mat-icon
          >
        </button>
          <button
            (click)="deleteSalidas(element.idSalida)"
            mat-icon-button
            matTooltip="Eliminar"
            color="warn"
            aria-label="Example icon button with a delete icon"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20, 50]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
<p-toast />
