<div class="parallax">
 
  <div class="contenido table-responsive mat-elevation-z8 ">
    <div class="cintaOpciones">
      <div class="row">
        <div
          class="col-md-4 d-grid gap-2 d-md-flex flex-column align-items-start justify-content-md-start p-3"
        >
          <div class="container">
            <h6 class="mb-0 p-0 fw-semibold">LISTA DE PAQUETES</h6>
            <p-tag
              class="mt-0"
              icon="pi pi-align-left"
              severity="secondary"
              value="Total: {{ paquetes.length }}"
            />
          </div>
        </div>

        <div
          class="col-md-4 d-grid gap-2 d-md-flex align-items-start justify-content-md-center p-3"
        >
          <p-iconField iconPosition="right">
            <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
            <input
              type="text"
              pInputText
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Search"
            />
          </p-iconField>
        </div>

        <div class="col-md-4 p-3">
          <div class="container">
            <div
              class="d-grid gap-2 d-md-flex align-items-center justify-content-md-end"
            >
            <button class="btn btn-primary" (click)="openAgregarDialog()">
              <i class="bi bi-plus-lg"></i> Agregar
            </button>
            <button class="btn btn-dark"  [routerLink]="['/listar-destinos']">
              <i class="bi bi-list-task"></i> Destinos
            </button>
            <button class="btn btn-dark"  [routerLink]="['/listar-salidas']">
              <i class="bi bi-list-task"></i> Salidas
            </button>
             

            </div>
          </div>
        </div>
      </div>
    </div>
  
    <table mat-table [dataSource]="dataSource" class="lista table table-striped table-hover mb-0">
      <ng-container matColumnDef="Titulo">
        <th mat-header-cell *matHeaderCellDef>Titulo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.titulo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Portada">
        <th mat-header-cell *matHeaderCellDef>Portada</th>
        <td mat-cell *matCellDef="let element">
          <div class="container p-3">
            <p-image
            class="img"
              [src]="element.portada"
              alt="Image"
              width="40"
              
              border-radious="true"
              [preview]="true"
              *ngIf="element.portada"
            />
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let element">
          {{ element.descripcion }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ModalidadPaquete">
        <th mat-header-cell *matHeaderCellDef>Modalidad</th>
        <td mat-cell *matCellDef="let element">
          {{ element.modalidadPaquete }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Salida">
        <th mat-header-cell *matHeaderCellDef>Salida</th>
        <td mat-cell *matCellDef="let element">
          {{ element.salida }}
        </td>
      </ng-container>
      <ng-container matColumnDef="TotalDias">
        <th mat-header-cell *matHeaderCellDef>Dias</th>
        <td mat-cell *matCellDef="let element">
          {{ element.totalDias }}
        </td>
      </ng-container>
      <ng-container matColumnDef="TotalNoches">
        <th mat-header-cell *matHeaderCellDef>Noches</th>
        <td mat-cell *matCellDef="let element">
          {{ element.totalNoches }}
        </td>
      </ng-container>
      <ng-container matColumnDef="MinPax">
        <th mat-header-cell *matHeaderCellDef>MinPax</th>
        <td mat-cell *matCellDef="let element">
          {{ element.minPax }}
        </td>
      </ng-container>
      <ng-container matColumnDef="MaxPax">
        <th mat-header-cell *matHeaderCellDef>MaxPax</th>
        <td mat-cell *matCellDef="let element">
          {{ element.maxPax }}
        </td>
      </ng-container>
      <ng-container matColumnDef="PoliticaCancelacion">
        <th mat-header-cell *matHeaderCellDef>Politica Cancelacion</th>
        <td mat-cell *matCellDef="let element">
          {{ element.politicaCancelacion }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">
          @if(element.estado == 1){
          <span class="activo text-success">Ok</span> } @else{
          <span class="inactivo text-danger">False </span> }
        </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button
            (click)="openEditarDialog(element.idPaquete)"
            mat-icon-button
            matTooltip="Editar"
            color="primary"
            aria-label="Example icon button with a edit icon"
          >
            <mat-icon data-bs-toggle="modal" data-bs-target="#AgregarMascota"
              >edit</mat-icon
            >
          </button>
          <button
            (click)="deletePaquete(element.idPaquete)"
            mat-icon-button
            matTooltip="Eliminar"
            color="warn"
            aria-label="Example icon button with a delete icon"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <div class="dropdown dropup ">
            <button
              class="btn btn-light dropdown-toggle btn-sm"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
            <!-- <i class="bi bi-plus"></i> -->
            Más
            </button>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  (click)="openItinerario(element.idPaquete)"
                  >Itinerario</a
                >
              </li>
              <li>
                <a class="dropdown-item" (click)="openIncluye(element.idPaquete)">
                  Incluye</a
                >
              </li>
              <li>
                <a class="dropdown-item" (click)="openNoIncluye(element.idPaquete)">
                  No Incluye</a
                >
              </li>
            </ul>
          </div>
        </td>
        
      </ng-container>
     

    

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20, 50]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
<p-toast/>