.parallax{
    background-image: url('https://a.travel-assets.com/findyours-php/viewfinder/images/res60/69000/69981-Lake-Atitlan.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat:repeat;
    background-size: cover;
    height: 100vh;
  }