<div class="parallax">
  <div class="contenido table-responsive mat-elevation-z8 mb-3">
    <div class="cintaOpciones">
      <div class="row">
        <div
          class="col-md-6 d-grid gap-2 d-md-flex flex-column align-items-start justify-content-md-start p-3"
        >
          <div class="container">
            <h6 class="mb-0 p-0 fw-semibold">LISTA DE COTIZACIONES</h6>
            <p-tag
              class="mt-0"
              icon="pi pi-align-left"
              severity="secondary"
              value="Total: {{ cotizaciones.length }}"
            />
          </div>
        </div>

        <div class="col-md-6">
          <div
            class="container d-grid gap-2 d-md-flex align-items-start justify-content-md-end p-3"
          >
            <p-iconField iconPosition="right">
              <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
              <input
                type="text"
                pInputText
                matInput
                (keyup)="applyFilter($event)"
                placeholder="Search"
              />
            </p-iconField>
          </div>
        </div>
      </div>
    </div>

    <p-table
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
      [value]="cotizaciones"
      [tableStyle]="{ 'min-width': '50rem' }"
      styleClass="p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Cliente</th>
          <th>Paquete</th>
          <!-- <th>Salida</th> -->
          <th>Fecha Salida</th>
          <th>Modalidad</th>
          <th>Comentarios</th>
          <th>Niños</th>
          <th>Adultos</th>
          <th>Precio Cotizacion</th>
          <th>Valido Hasta</th>
        
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cotizacion>
        <tr>
          <td>{{ cotizacion.idCotizacion }}</td>
          <td>{{ cotizacion.usuario }}</td>
          <td>{{ cotizacion.paqueteViaje }}</td>
          <!-- <td>{{ cotizacion.salida }}</td> -->
          <td>{{ cotizacion.fechaSalida | date : "dd/MM/yyyy" }}</td>
          <td>{{ cotizacion.modalidad }}</td>
          <td>{{ cotizacion.comentario }}</td>
          <td>{{ cotizacion.totalNinos }}</td>
          <td>{{ cotizacion.totalAdultos }}</td>
          <td>{{ cotizacion.precioCotizacion | currency : "GTQ" }}</td>
          <td>{{ cotizacion.validoHasta | date : "dd/MM/yyyy" }}</td>
        

          <td>
         
         
            <button
            (click)="openDialog(cotizacion.idCotizacion)"
              pButton
              pRipple
              pTooltip="Editar"
              class="p-button-primary  rounded"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
            <button
            pButton
            pRipple
            pTooltip="Generar Orden de Pago"
            class="p-button-help rounded  mt-2"
            (click)="showDialog(cotizacion.idCotizacion)"
          >
          
        <i class="bi bi-bank"></i>
      </button>


          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-toast />
<p-dialog
  header="Generar Orden de Pago"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <span class="p-text-secondary block mb-5 mt-5"
    >Seleccione la fecha límite de pago</span
  >
  <br />
  <input [(ngModel)]="fechaLimitePago" type="date" class="form-control mt-2" />
  <div class="d-flex justify-content-end gap-1 mt-5">
    <button
      (click)="visible = false"
      label="Cancelar"
      pButton
      pRipple
      class="p-button-secondary rounded"
    ></button>
    <button
      [disabled]="!fechaLimitePago || !btnEnviar"
      (click)="generarOrdenPago()"
      label="Generar"
      pButton
      pRipple
      class="p-button-primary rounded"
    >
      @if (!btnEnviar){

      <div style="display: flex; align-items: center">
        <div class="loader me-1"></div>
      </div>
      }
    </button>
  </div>
</p-dialog>
